.about{
    float:left;
    position: relative;
    text-align: center;
    color: rgb(8, 119, 73);
}

.about img{
    height: 300px;
    width: 100%;
}

.welcome{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
    font-size: 50px;
}


.blazer img{
    height: 200px;
    border-radius: 100px;
    border:black solid 1px;
    float: left;
    text-align: center;
}

.socialMedia{
    text-align: center;
    position: absolute;
    margin-top: 150px;
    right: 16px;
}

.linkedin img{
    width:75px;
    height:75px;
    border-radius: 100px;
}

.fb img{
    width:75px;
    height:75px;
    border-radius: 100px;
}

.ig img{
    width:75px;
    height:75px;
    border-radius: 100px;
}

.github img{
    width:75px;
    height:75px;
}

.text{
    text-align: center;
    margin: auto 250px auto 250px;
    color: rgb(8, 119, 73);
    font-family: sans Verdana, Geneva, Tahoma, sans-serif;
}

.information{
    font-size: 25px;
}

.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: right;
    position: absolute;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    font-family: cursive;
    color: rgb(8, 119, 73);
    font-size: 25px;
}

.main-nav a:active,
.main-nav a:visited{
    text-decoration: none;
    color: rgb(8, 119, 73);
}

.main-nav a:hover{
    color: rgb(88, 226, 169)
}

.greenBOI img{
    position: absolute;
    width:100px;
    height:100px;
    float: left;
    padding-top: 0px;
    top: 0px;
    left: 16px;
}