.about{
    float:left;
    position: relative;
    text-align: center;
    color: rgb(8, 119, 73);
}

.about img{
    height: 300px;
    width: 100%;
}

.welcome{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
    font-size: 50px;
}

.socialMedia{
    text-align: center;
    position: absolute;
    margin-top: 150px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.linkedin img{
    width:75px;
    height:75px;
    border-radius: 100px;
}

.fb img{
    width:75px;
    height:75px;
    border-radius: 100px;
}

.ig img{
    width:75px;
    height:75px;
    border-radius: 100px;
}

.github img{
    width:75px;
    height:75px;
}

.information{
    margin: auto 80px auto 80px;
}

.text{
    text-align: center;
}

.text img{
    height: 200px;
    border-radius: 100px;
    border:black solid 1px;
    float: left;
    text-align: center;
}

.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: right;
    position: absolute;
    top: 8px;
    right: 16px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    font-family: cursive;
    color: rgb(8, 119, 73);
    font-size: 25px;
}

.main-nav a:active,
.main-nav a:visited{
    text-decoration: none;
    color: rgb(8, 119, 73);
}